<div style='background: #FF7B47; padding: 10px; border: thin solid darblue; border-radius: 5px; margin-bottom: 2vh'>
    
# Session 03 - Notebook

<div style='background: #FF7B47; padding: 10px; border: thin solid darblue; border-radius: 5px'>
    
## Part 1 -  Manual

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>
A - Matplotlib Introduction

In [21]:
# your code here

In [3]:
# your code here

In [4]:
# your code here

In [5]:
# your code here

In [6]:
# your code here

In [7]:
# your code here

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>
B - Bar Charts and Ticks

In [8]:
# your code here

<div style='background: lightsalmon; padding: 10px; border: thin solid darblue; border-radius: 5px'>
C - Scatter Plots

In [9]:
# Your code here

In [10]:
# Your code here

In [11]:
# Your code here

In [12]:
# Your code here

In [13]:
# Your code here

<div style='background: #6A9EB4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

## Part 2 - Exploration
Now it's your turn. For this exercise, we want you to explore the functionalities of Matplotlib. In the folder "exploration_data", you can find three different data sets. Using these data sets, we want you to get creative and experiment! You are free to plot whatever you like from this data. Start with easy plots and then step by step challenge yourself by making more difficult ones. The [Matplotlib website](https://matplotlib.org/stable/gallery/index.html) has tons of examples for inspiration.

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data/salary_data.csv")

In [8]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

<div style='background: #6A9EB4; padding: 10px; border: thin solid darblue; border-radius: 5px'>

## Part 2 - Lab
Now that you know how to use Matplotlib, it is time to get back to helping the marketing manager. In the folder "data" you can find the csv file we generated yesterday. As mentioned before, the marketing manager is interested in knowing which sports have gotten most publicity in the past few years and hence don't need more publicity and which ones have not gotten enough publicity. There is two visualisation we would like you to produce:
    1) a bar chart that allows the marketing manager to compare the mentions of the featured sports
    2) a line chart that tracks the change in mentions of the top 3 mentioned sports over the past three years